body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/font/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/font/JetBrainsMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

* {
  font-family: JetBrains Mono;
  box-sizing: border-box;
}

body * {
  display: flex;
}

#app {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

:root {
  --palette-hero: #353795;
  --palette-hero-dark: #323371;
  --palette-hero-faded: #c8b7d9;
}
